* {
  box-sizing: border-box;
}
.center {text-align:center}
.right {text-align:right}
.justify {text-align:justify}
.left {text-align: left}

.hide-s{
  display: none;
}

.no-padding { padding: 0px !important}
.no-margin {margin: 0px !important}

.rows::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-s-1 {width: 8.33%}
.col-s-2 {width: 16.66%}
.col-s-3 {width: 25%}
.col-s-4 {width: 33.33%}
.col-s-5 {width: 41.66%}
.col-s-6 {width: 50%}
.col-s-7 {width: 58.33%}
.col-s-8 {width: 66.66%}
.col-s-9 {width: 75%}
.col-s-10 {width: 83.33%}
.col-s-11 {width: 91.66%}
.col-s-12 {width: 100%}

.col-offset-s-1 {margin-left: 8.33%}
.col-offset-s-2 {margin-left: 16.66%}
.col-offset-s-3 {margin-left: 25%}
.col-offset-s-4 {margin-left: 33.33%}
.col-offset-s-5 {margin-left: 41.66%}
.col-offset-s-6 {margin-left: 50%}
.col-offset-s-7 {margin-left: 58.33%}
.col-offset-s-8 {margin-left: 66.66%}
.col-offset-s-9 {margin-left: 75%}
.col-offset-s-10 {margin-left: 83.33%}
.col-offset-s-11 {margin-left: 91.66%}


/* medium devices tabletas*/

@media (min-width:415px) {
  .col-m-1 { width: 8.33%}
  .col-m-2 { width: 16.66%  }
  .col-m-3 { width: 25%  }
  .col-m-4 { width: 33.33%  }
  .col-m-5 { width: 41.66%  }
  .col-m-6 { width: 50%  }
  .col-m-7 { width: 58.33%  }
  .col-m-8 { width: 66.66%  }
  .col-m-9 { width: 75%  }
  .col-m-10 { width: 83.33%  }
  .col-m-11 { width: 91.66%  }
  .col-m-12 { width: 100%  }

  .col-offset-m-1 { margin-left: 8.33%  }
  .col-offset-m-2 { margin-left: 16.66%  }
  .col-offset-m-3 { margin-left: 25%  }
  .col-offset-m-4 { margin-left: 33.33%  }
  .col-offset-m-5 { margin-left: 41.66%  }
  .col-offset-m-6 { margin-left: 50%  }
  .col-offset-m-7 { margin-left: 58.33%  }
  .col-offset-m-8 { margin-left: 66.66%  }
  .col-offset-m-9 { margin-left: 75%  }
  .col-offset-m-10 { margin-left: 83.33%  }
  .col-offset-m-11 { margin-left: 91.66%  }
  .hide-s { display:initial }
  .hide-m { display:none }
}

/* escritorio */

@media (min-width:1024px) {
  .col-1 { width: 8.33%  }
  .col-2 { width: 16.66%  }
  .col-3 { width: 25%  }
  .col-4 { width: 33.33%  }
  .col-5 { width: 41.66%  }
  .col-6 { width: 50%  }
  .col-7 { width: 58.33%  }
  .col-8 { width: 66.66%  }
  .col-9 { width: 75%  }
  .col-10 { width: 83.33%  }
  .col-11 { width: 91.66%  }
  .col-12 { width: 100%  }
  .col-offset-1 { margin-left: 8.33%  }
  .col-offset-2 { margin-left: 16.66%  }
  .col-offset-3 { margin-left: 25%  }
  .col-offset-4 { margin-left: 33.33%  }
  .col-offset-5 { margin-left: 41.66%  }
  .col-offset-6 { margin-left: 50%  }
  .col-offset-7 { margin-left: 58.33%  }
  .col-offset-8 { margin-left: 66.66%  }
  .col-offset-9 { margin-left: 75%  }
  .col-offset-10 { margin-left: 83.33%  }
  .col-offset-11 { margin-left: 91.66%  }
  .col-offset-1_5 { margin-left: 12.5% }
  .hide-m { display:initial }
}

/* Big Screens*/

@media (min-width:1300px) {
  .col-l-1 { width: 8.33%  }
  .col-l-2 { width: 16.66%  }
  .col-l-3 { width: 25%  }
  .col-l-4 { width: 33.33%  }
  .col-l-5 { width: 41.66%  }
  .col-l-6 { width: 50%  }
  .col-l-7 { width: 58.33%  }
  .col-l-8 { width: 66.66%  }
  .col-l-9 { width: 75%  }
  .col-l-10 { width: 83.33%  }
  .col-l-11 { width: 91.66%  }
  .col-l-12 { width: 100%  }
  .col-offset-l-1 { margin-left: 8.33%  }
  .col-offset-l-2 { margin-left: 16.66%  }
  .col-offset-l-3 { margin-left: 25%  }
  .col-offset-l-4 { margin-left: 33.33%  }
  .col-offset-l-5 { margin-left: 41.66%  }
  .col-offset-l-6 { margin-left: 50%  }
  .col-offset-l-7 { margin-left: 58.33%  }
  .col-offset-l-8 { margin-left: 66.66%  }
  .col-offset-l-9 { margin-left: 75%  }
  .col-offset-l-10 { margin-left: 83.33%  }
  .col-offset-l-11 { margin-left: 91.66%  }
}
