@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
  box-sizing: border-box;
}
img {
  
  display: block;
  max-width: 100%;
  
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6,p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}
.section__titulo {
  text-align: center;
  font-size: 40px;
  color: #FBA919;
}
.contenedor {
  margin: auto;
  width: 99%;
}




.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
  }
  
  .banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  .banner__txt {
    display: none;
  }
  
  
  
  /*barra divisora*/
  
  .barra{
  
  width: 100%;
  height: 200px;
  background-color:#00585c;
  font-size: 12px;
  color: white;
  
  display: inline-block;
  
  
  }
  
  
  .item{
  width: 25%;
  height: 200px;
  background-color: #00575c3a;
  float: left;
  overflow: hidden;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  margin-right: 0px;
  display: inline-block;
  }
  
  
  .item2{
    width: 33%;
    height: 200px;
    background-color: #00575c3a;
    display: inline-flex;
    overflow: hidden;
     margin-left: 30px;
     margin-right: 30px;
    float: left;
    font-size: 37px;
    text-align: center;
    display: inline-block;
    }
  
  /*CONTAINERS*/
  
  section{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .container
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: rgb(223, 227, 247);
  }
  
  .container .box
  {
      position: relative;
      width: 400px;
      padding: 40px;
      background: #e40a9046;
      box-shadow: 0 10px 15px rgba(0,0,0,.1);
      border-radius: 4px;
      margin: 50px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
  }
  
  
  .container .box .icon
  {
      position: relative;
      width: 80px;
      height: 80px;
      color: white;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 50%;
      font-size: 40px;
      font-weight: 700;
      transition: 1s;
  }
  
  .container .box:nth-child(1) .icon
  {
      box-shadow: 0 0 0 0 #e91e63;
      background: #e91e63;
  }
  
  
  .container .box:nth-child(1):hover .icon
  {
      box-shadow: 0 0 0 400px #e91e63;
      
  }
  
  .container .box:nth-child(2) .icon
  {
      box-shadow: 0 0 0 0 #23e629;
      background: #23e629;
  }
  
  
  .container .box:nth-child(2):hover .icon
  {
      box-shadow: 0 0 0 400px #23e629;
      
  }
  
  .container .box:nth-child(3) .icon
  {
      box-shadow: 0 0 0 0 #2196f3;
      background: #2196f3;
  }
  
  
  .container .box:nth-child(3):hover .icon
  {
      box-shadow: 0 0 0 400px #2196f3;
      
  }
  
  .container .box:nth-child(4) .icon
  {
      box-shadow: 0 0 0 0 #faf629;
      background: #faf629;
  }
  
  
  .container .box:nth-child(4):hover .icon
  {
      box-shadow: 0 0 0 400px #faf629;
      
  }
  
  .container .box:nth-child(5) .icon
  {
      box-shadow: 0 0 0 0 #fd3232;
      background: #fd3232;
  }
  
  
  .container .box:nth-child(5):hover .icon
  {
      box-shadow: 0 0 0 400px #fd3232;
      
  }
  
  .container .box:nth-child(6) .icon
  {
      box-shadow: 0 0 0 0 #39fd32;
      background: #39fd32;
  }
  
  
  .container .box:nth-child(6):hover .icon
  {
      box-shadow: 0 0 0 400px #39fd32;
      
  }
  .container .box:nth-child(7) .icon
  {
      box-shadow: 0 0 0 0 #fa29de;
      background: #fa29de;
  }
  
  
  .container .box:nth-child(7):hover .icon
  {
      box-shadow: 0 0 0 400px #fa29de;
      
  }
  .container .box .content
  {
      position: relative;
      z-index: 1;
      transition: 0.5s;
  }
  
  
  
  .container .box:hover .content{
  
      color: #fff;
  }
  
  .container .box .content h3{
      font-size: 20px;
      margin: 10px 0;
      padding: 0;
  }
  
  .container .box .content  
  {
      margin: 0;
      padding: 0;
  }
  
  .container .box .content p 
  {
      margin: 0;
      padding: 0;
  }
  .Busqueda
  {
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
      border-radius: 4px;
      text-decoration: none;
      color: #000;
      font-weight: 500;
      margin-top: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }
  

  .container-body{
    display: flex;
    justify-content: space-between;
  }
  
  .colum1{
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
  
  .colum2{
    max-width: 400px;
    
  }
  
  .colum2 h1{
    font-size: 22px;
  }
  
  .row{
    margin-top: 20px;
    display: flex;
  }
  
  .row img{
    width: 36px;
    height: 36px;
  }
  
  .row p a {
    margin-top: 5px;
    margin-left: 10px;
    color: #C7C7C7;
    text-decoration: none;
  }
  
  .colum3{
    max-width: 400px;
  }
  
  .colum3 h1{
    font-size: 22px;
  }
  
  .row2{
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img{
    width: 36px;
    height: 36px;
  }
  
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  
@media screen and (max-width: 1100px){
  
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
  
    .container .box
  {
      position: relative;
      width: 250px;
      padding: 40px;
      background: #009da859    ;
      box-shadow: 0 5px 15px rgba(0,0,0,.1);
      border-radius: 4px;
      margin: 50px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
  }
  
  
  }
  
  
  
  
  
  /*------------------Estilos responsive------------------*/
  
  
  @media(min-width:360px) {
    .item{
      margin-left: 4px;
      font-size: 12px;
    }
  
    .item2{
      margin-left: 9px;
      margin-right: 2px;
      font-size: 16px;
    }
  .barra{
    height: 143px;
  }
  
  .container .box {
  
    margin: 66px;
    background: #009da859    ;
  }
  
  }
  
  
  @media(min-width:480px) {
    .logo {
      font-size: 40px;
    }
    .banner__titulo {
      font-size: 30px;
      margin: 5px 0;
    }
    .banner__txt {
      display: block;
      font-size: 18px;
      margin: 7px 0;
    }
    .info, .cursos {
      display: flex;
      justify-content: space-between;
      margin-top: -90px;
    }
    .info__columna {
      width: 32%;
    }
    .info__titulo {
      font-size: 30px;
      margin: 5px 0;
    }
    .section__titulo {
      width: 100%;
    }
    .cursos {
      flex-wrap: wrap;
      margin-top: 0;
    }
    .cursos__columna {
      width: 49%;
    }
    .footer .social [class^="icon-"] {
      margin: 0 10px;
    }
    .item{
      margin-left: -2px;
      font-size: 17px;
    }
  
    .item2{
      margin-left: 70px;
      margin-right: 80px;
      font-size: 32px;
    }
  .barra{
    height: 143px;
  }
  
  .container .box {
  
   
    background: #009da859    ;
  }
  }
  
  @media(min-width:640px) {  
  
    .item{
      margin-left: 10px;
      font-size: 18px;
    }
  
    .item2{
      margin-left: 41px;
      margin-right: 41px;
      font-size: 25px
    }
  .barra{
    height: 180px;
  }
  .container .box {
  
    margin: 25px;
    background: #009da859    ;
  }
  
  
  }
    
  
  
  
  @media(min-width:768px) {  
    .banner__titulo {
      font-size: 50px;
    }
    .cursos__titulo {
      font-size: 40px;
    }
    .container .box
  {
      position: relative;
      width: 250px;
      padding: 40px;
      background: #009da859    ;
      box-shadow: 0 5px 15px rgba(0,0,0,.1);
      border-radius: 4px;
      margin: 50px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
  }
  }
  
  @media(min-width:1024px) {  
    .contenedor {
      width: 1000px;
    }
    .section__titulo {
      font-size: 50px;
      margin: 30px 0;
    }
    .nav {
      position: static;
      width: auto;
    }
    .menu {
      display: flex;
    }
    .icon-menu {
      display: none;
    }
    .menu__link {
      background: none;
      font-size: 12px;
      font-style: bold;
    }
    .select {
      color: #fff;
      background: #FBA919;
    }
    .banner__titulo {
      font-size: 60px;
    }
    .banner__txt {
      font-size: 25px;
    }
    .info {
      margin-top: -120px;
    }
    .info__columna {
      padding: 30px;
    }
    .info__titulo {
      font-size: 40px;
      text-align: center;
    }
    .cursos__descripcion {
      padding: 20px;
    }
    .cursos__titulo {
      font-size: 50px;
    }
    .cursos__txt {
      font-size: 20px;
    }
    .container .box
  {
      position: relative;
      width: 400px;
      padding: 40px;
      background: #009da859    ;
      box-shadow: 0 5px 15px rgba(0,0,0,.1);
      border-radius: 4px;
      margin: 50px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
  }
  
  .item{
    
        margin-left: -6px;
        font-size: 27px;
  }
  
  .item2{
    margin-left: 70px;
    margin-right: 74px;
    font-size: 35px;
  }
  .barra{
    height: 260px;
   
   
  }
  }
  @media(min-width:1280px) {
    .contenedor {
      width: 1200px;
    }
    .logo {
      font-size: 60px;
    }
    .banner .contenedor {
      top: 40%;
    }
    .info {
      margin-top: -220px;
    }
    .container .box
  {
      position: relative;
      width: 400px;
      padding: 40px;
      background: #009da859    ;
      box-shadow: 0 5px 15px rgba(0,0,0,.1);
      border-radius: 4px;
      margin: 20px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
  }
  
  }
  
  @media(min-width:1440px) {
    .container .box
    {
        position: relative;
        width: 400px;
        padding: 40px;
        background: #fff    ;
        box-shadow: 0 5px 15px rgba(0,0,0,.1);
        border-radius: 4px;
        margin: 34px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }
    
  }